#btns{
    z-index: 999;
    top: 0;
    min-width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    transition: all .4s ease;
}

#btns a{
    text-decoration: none;
}

.btn-add{
    transition: background-color, color,  .3s ease !important;
    box-shadow: 7px 7px 15px 2px #67676773, -7px -7px 15px 2px #ffffffe8;
}

.btn-off{
    color: #67676773 !important;
    background-color: transparent !important
}

.btn-active{
    color: white !important;
    background-color: #757043 !important;
    box-shadow: 4px 4px 15px 2px #67676773, -4px -4px 15px 2px #ffffffe8;
}